@import "font.css";

html{
  font-size: 16px; /* Change this and the webpage size will change*/
}

* {
  font-family: "Comfortaa", sans-serif;
  box-sizing: border-box;
}

body {
  background: #002b36;
  margin-top: 0;
}

#circle {
  border-style: solid;
  border-width: 0.25rem;
  border-radius: 1.75rem;
  border-color: #3f5f41;
  padding: 1.2rem;
  font-size: 1.8rem;
  color: #002b36;
  text-align: center;
  background-color: #3f5f41;
  max-width: min(100rem, 95%);
  margin: 0.01rem auto;
}

#title {
  border-style: solid;
  border-width: 0.25rem;
  border-radius: 0 0 1.75rem 1.75rem;
  border-color: #3f5f41;
  background-color: #3f5f41;
  padding: 2rem;
  text-align: center;
  font-size: 7rem;
  color: #002b36;
  max-width: min(55rem, 95%);
  margin: 0.01rem auto;
  margin-top: 0;
  top: 0;
  /* margin-left: 33rem;
  margin-right: 33rem; */
}

#descr {
  color: #3f5f41;
  border-style: solid;
  border-width: 0.25rem;
  border-radius: 1.75rem;
  border-color: #002730;
  background-color: #002730;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  max-width: min(55rem, 95%);
  margin: 1rem auto;
}

@media only screen and (max-width: 860px) {
  #title {
    font-size: 6rem;
  }
}
@media only screen and (max-width: 750px) {
  #title {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 640px) {
  #title {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 530px) {
  #title {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 420px) {
  #title {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 310px) {
  #title {
    font-size: 1rem;
  }
}
#descr:hover {
  font-size: 1.6rem;
}
/* Work on #circle response next*/
